<?xml version="1.0"?>
<configuration>
	<location path="AddEmp.aspx">
		<system.web>
			<authorization>
				<allow roles="Admin"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="AdminDash.aspx">
		<system.web>
			<authorization>
				<allow roles="Admin"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="AdminDone.aspx">
		<system.web>
			<authorization>
				<allow roles="Admin"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="AdminProgress.aspx">
		<system.web>
			<authorization>
				<allow roles="Admin"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="AdminWaiting.aspx">
		<system.web>
			<authorization>
				<allow roles="Admin"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="assign.aspx">
		<system.web>
			<authorization>
				<allow roles="Admin"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="conf.aspx">
		<system.web>
			<authorization>
				<allow roles="Admin"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="DeleteEmployee.aspx">
		<system.web>
			<authorization>
				<allow roles="Admin"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="EmployeeDetails.aspx">
		<system.web>
			<authorization>
				<allow roles="Admin"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="Employees.aspx">
		<system.web>
			<authorization>
				<allow roles="Admin"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="Rating.aspx">
		<system.web>
			<authorization>
				<allow roles="Admin"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="Satistics.aspx">
		<system.web>
			<authorization>
				<allow roles="Admin"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
  <system.web>
	  
  </system.web>
</configuration>
